label{
    color: black;      /* Color del texto en blanco */
    font-size: 20px;   /* Tamaño del texto más grande (ajusta según tus preferencias) */
    font-weight: bold; /* Texto más grueso */
  }