
/* Estilo para el modo oscuro */
.dark-mode {
    background-color: #3d3d41; /* Fondo oscuro */
    color: white; /* Texto claro */
}

/* Estilos para reducir el tamaño de los campos de entrada */
.small-input {
    width: 250px; /* Ajusta el ancho según tus preferencias */
}

/* Estilos para la etiqueta con el atributo "for" igual a "cod" */
label{
    color: black;      /* Color del texto en blanco */
    font-size: 20px;   /* Tamaño del texto más grande (ajusta según tus preferencias) */
    font-weight: bold; /* Texto más grueso */
  }

  #resultados {
    max-width: 100%; /* Establece un ancho máximo para el div */
    overflow-x: auto; /* Habilita la barra de desplazamiento horizontal si es necesario */
}

.largo{
    height: 100px;
    
}